:root {
  --dark-blue: #383958;
  --beige: #fffcf3;
  --dark-beige: #dcd9cf;
  --green: #7cd885;
  --red: #db7874;
}

@font-face {
  font-family: 'GothamRounded';
  src: url('./fonts/GothamRounded-Book.otf') format('opentype'),
    url('./fonts/GothamRoundedBook_21018.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRounded';
  src: url('./fonts/GothamRounded-BookItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'GothamRounded';
  src: url('./fonts/GothamRounded-Light.otf') format('opentype'),
    url('./fonts/GothamRoundedLight_21020.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRounded';
  src: url('./fonts/GothamRounded-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'GothamRounded';
  src: url('./fonts/GothamRounded-Medium.otf') format('opentype'),
    url('./fonts/GothamRoundedMedium_21022.ttf') format('truetype');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRounded';
  src: url('./fonts/GothamRounded-MediumItalic.otf') format('opentype');
  font-weight: medium;
  font-style: italic;
}

@font-face {
  font-family: 'GothamRounded';
  src: url('./fonts/GothamRounded-Bold.otf') format('opentype'),
    url('./fonts/GothamRoundedBold_21016.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRounded';
  src: url('./fonts/GothamRounded-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

body,
div,
button,
input,
form {
  margin: 0;
  color: var(--dark-blue);
  font-family: 'GothamRounded', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1.2rem;
  font-weight: lighter;
}

h1 {
  font-size: 1.8rem;
  font-weight: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:link {
  text-decoration: none;
}

::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-button {
	width: 8px;
	height:5px;
}
::-webkit-scrollbar-track {
	background:#eee;
	border: thin solid lightgray;
	box-shadow: 0px 0px 3px #dfdfdf inset;
	border-radius:10px;
}
::-webkit-scrollbar-thumb {
	background:#999;
	border: thin solid gray;
	border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
	background:#7d7d7d;
}