:root {
  --dark-blue: #383958;
  --beige: #fffcf3;
  --green: #7cd885;
}

@font-face {
  font-family: 'GothamRounded Medium';
  src: url('./fonts/GothamRounded-Medium.otf') format('opentype'),
    url('./fonts/GothamRoundedMedium_21022.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body,
div,
button {
  margin: 0;
  font-family: 'GothamRounded Medium', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
