[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
pysnooper = "*"
pytest-sanic = "*"
faker = "*"

[packages]
gino = "*"
sanic = "*"
alembic = "*"
psycopg2-binary = "*"
cerberus = "*"
sanic-jwt-extended = "*"
sanic-cors = "*"
uvloop = "*"

[requires]
python_version = "3.7"
